<form method = "post">
  <table>
    <tr>
      <td class = "label">
        Name
      </td>
      <td>
        <input type = "text" name = "name" value = "{{item.name}}">
      </td>
    </tr>
    <tr>
      <td class = "label">
        Description
      </td>
      <td>
        <input type = "text" name = "city" value = "{{item.description}}">
      </td>
    </tr>
    <tr>
      <td class = "label">
        Price
      </td>
      <td>
        <input type = "text" name = "city" value = "{{item.price}}">
      </td>
    </tr>
    <tr>
      <td class = "label">
        Course
      </td>
      <td>
        <input type = "text" name = "city" value = "{{item.course}}">
      </td>
    </tr>
    <tr>
      <td class = "label">
        Restaurant
      </td>
      <td>
        <input type = "text" name = "restaurant" value = "">
      </td>
    </tr>
  </table>
  <input type = "submit" value = "Submit"> </input>
</form>
